<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zouzhao.sys.org.mapper.SysMenuElementMapper">

    <resultMap type="SysMenuElement" id="SysMenuElementResult">
        <result property="menuElementId" column="menu_element_id"/>
        <result property="menuElementAlterTime" column="menu_element_alter_time"/>
        <result property="menuElementCreateTime" column="menu_element_create_time"/>
        <result property="menuElementIcon" column="menu_element_icon"/>
        <result property="menuElementName" column="menu_element_name"/>
        <result property="menuElementParentId" column="menu_element_parent_id"/>
        <result property="menuElementPath" column="menu_element_path"/>
        <result property="menuElementType" column="menu_element_type"/>
        <result property="menuElementOrder" column="menu_element_order"/>
        <result property="menuElementStatus" column="menu_element_status"/>
        <collection property="sysRightRoles" javaType="java.util.List"
                    resultMap="com.zouzhao.sys.org.mapper.SysRightRoleMapper.SysRightRoleResult"/>
    </resultMap>
    <resultMap type="com.zouzhao.sys.org.dto.SysMenuElementVO" id="SysMenuElementVOResult">
        <result property="menuElementId" column="menu_element_id"/>
        <result property="menuElementAlterTime" column="menu_element_alter_time"/>
        <result property="menuElementCreateTime" column="menu_element_create_time"/>
        <result property="menuElementIcon" column="menu_element_icon"/>
        <result property="menuElementName" column="menu_element_name"/>
        <result property="menuElementParentId" column="menu_element_parent_id"/>
        <result property="menuElementPath" column="menu_element_path"/>
        <result property="menuElementType" column="menu_element_type"/>
        <result property="menuElementOrder" column="menu_element_order"/>
        <result property="menuElementStatus" column="menu_element_status"/>
        <collection property="sysRightRoles" javaType="java.util.List"
                    resultMap="com.zouzhao.sys.org.mapper.SysRightRoleMapper.SysRightRoleVOResult"/>
    </resultMap>

    <sql id="selectSysMenuElementVo">
        SELECT a.*,
               r.*
        FROM sys_menu_element a
                 LEFT JOIN sys_menu_mr_rela mr on a.menu_element_id = mr.menu_element_id
                 LEFT JOIN sys_right_role r on r.right_role_id = mr.right_role_id
    </sql>

    <select id="findList" parameterType="SysMenuElement" resultMap="SysMenuElementResult">
        <include refid="selectSysMenuElementVo"/>
        <where>
            <if test="menuElementName != null  and menuElementName != ''">and a.menu_element_name like concat('%',
                #{menuElementName}, '%')
            </if>
            <if test="menuElementParentId != null  and menuElementParentId != ''">and a.menu_element_parent_id =
                #{menuElementParentId}
            </if>
            <if test="menuElementPath != null  and menuElementPath != ''">and a.menu_element_path = #{menuElementPath}
            </if>
            <if test="menuElementType != null  and menuElementType != ''">and a.menu_element_type = #{menuElementType}
            </if>
            <if test="menuElementStatus != null and menuElementStatus != ''">and a.menu_element_status =
                #{menuElementStatus}
            </if>
        </where>
    </select>
    <select id="findVOList" parameterType="SysMenuElement" resultMap="SysMenuElementVOResult">
        <include refid="selectSysMenuElementVo"/>
        <where>
            <if test="menuElementName != null  and menuElementName != ''">and a.menu_element_name like concat('%',
                #{menuElementName}, '%')
            </if>
            <if test="menuElementParentId != null  and menuElementParentId != ''">and a.menu_element_parent_id =
                #{menuElementParentId}
            </if>
            <if test="menuElementPath != null  and menuElementPath != ''">and a.menu_element_path = #{menuElementPath}
            </if>
            <if test="menuElementType != null  and menuElementType != ''">and a.menu_element_type = #{menuElementType}
            </if>
            <if test="menuElementStatus != null and menuElementStatus != ''">and a.menu_element_status =
                #{menuElementStatus}
            </if>
        </where>
    </select>

    <select id="findById" parameterType="String" resultMap="SysMenuElementResult">
        <include refid="selectSysMenuElementVo"/>
        where a.menu_element_id = #{menuElementId}
    </select>
    <select id="findVOById" parameterType="String" resultMap="SysMenuElementVOResult">
        <include refid="selectSysMenuElementVo"/>
        where a.menu_element_id = #{menuElementId}
    </select>

    <select id="findVOListInRoles" parameterType="map" resultMap="SysMenuElementVOResult">
        <include refid="selectSysMenuElementVo"/>
        <where>
            r.right_role_id is null
            <if test="v.menuElementName != null  and v.menuElementName != ''">and a.menu_element_name like concat('%',
                #{v.menuElementName}, '%')
            </if>
            <if test="v.menuElementParentId != null  and v.menuElementParentId != ''">and a.menu_element_parent_id =
                #{v.menuElementParentId}
            </if>
            <if test="v.menuElementPath != null  and v.menuElementPath != ''">and a.menu_element_path =
                #{v.menuElementPath}
            </if>
            <if test="v.menuElementType != null  and v.menuElementType != ''">and a.menu_element_type =
                #{v.menuElementType}
            </if>
            <if test="v.menuElementStatus != null and v.menuElementStatus != ''">and a.menu_element_status =
                #{v.menuElementStatus}
            </if>
            <if test="list != null and list.size != 0">
                or r.right_role_id in
                <foreach collection="list" item="role" open="(" close=")" separator=",">
                    #{role.rightRoleId}
                </foreach>
            </if>
        </where>
    </select>


</mapper>
