<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zouzhao.sys.org.mapper.SysRightGroupMapper">

    <resultMap type="SysRightGroup" id="SysRightGroupResult">
        <id property="rightGroupId" column="right_group_id"/>
        <result property="fdDesc" column="fd_desc"/>
        <result property="rightGroupAlterTime" column="right_group_alter_time"/>
        <result property="rightGroupCreateTime" column="right_group_create_time"/>
        <result property="rightCategoryId" column="right_category_id"/>
        <collection property="sysRightRoles" javaType="java.util.List"
                    resultMap="com.zouzhao.sys.org.mapper.SysRightRoleMapper.SysRightRoleResult"/>
    </resultMap>
    <resultMap type="com.zouzhao.sys.org.dto.SysRightGroupVO" id="SysRightGroupVOResult">
        <id property="rightGroupId" column="right_group_id"/>
        <result property="fdDesc" column="fd_desc"/>
        <result property="rightGroupAlterTime" column="right_group_alter_time"/>
        <result property="rightGroupCreateTime" column="right_group_create_time"/>
        <result property="rightCategoryId" column="right_category_id"/>
        <collection property="sysRightRoles" javaType="java.util.List"
                    resultMap="com.zouzhao.sys.org.mapper.SysRightRoleMapper.SysRightRoleVOResult"/>
    </resultMap>

    <sql id="selectSysRightGroupVo">
        SELECT a.*,
               r.*
        FROM sys_right_group a
                 LEFT JOIN sys_right_gr_rela gr ON gr.right_group_id = a.right_group_id
                 LEFT JOIN sys_right_role r ON r.right_role_id = gr.right_role_id
    </sql>

    <select id="findList" parameterType="SysRightGroup" resultMap="SysRightGroupResult">
        <include refid="selectSysRightGroupVo"/>
        <where>
           <!-- <if test="rightCategoryId != null  and rightCategoryId != ''">and a.right_category_id = #{rightCategoryId}
            </if>-->
            <if test="rightGroupName != null  and rightGroupName != ''">and a.right_group_name like concat('%',
                #{rightGroupName}, '%')
            </if>
        </where>
    </select>

    <select id="findVOList" parameterType="SysRightGroup" resultMap="SysRightGroupVOResult">
        <include refid="selectSysRightGroupVo"/>
        <where>
           <!-- <if test="rightCategoryId != null  and rightCategoryId != ''">and a.right_category_id = #{rightCategoryId}
            </if>-->
            <if test="rightGroupName != null  and rightGroupName != ''">and a.right_group_name like concat('%',
                #{rightGroupName}, '%')
            </if>
        </where>
    </select>

    <select id="findById" parameterType="String" resultMap="SysRightGroupResult">
        <include refid="selectSysRightGroupVo"/>
        where a.right_group_id = #{rightGroupId}
    </select>

    <select id="findVOById" parameterType="String" resultMap="SysRightGroupVOResult">
        <include refid="selectSysRightGroupVo"/>
        where a.right_group_id = #{rightGroupId}
    </select>

    <select id="page" parameterType="map" resultMap="SysRightGroupVOResult">
        <include refid="selectSysRightGroupVo"/>
        <where>
            <if test="v != null">
                <if test="v.rightGroupName != null  and v.rightGroupName != ''">and a.right_group_name like concat('%',
                    #{v.rightGroupName}, '%')
                </if>
            </if>
        </where>
    </select>
</mapper>
